$primary-color: #FAFAFA;
$header-bg: #32656A;
$marker: #FDAA4B;
$color-border-radius: #F5F5F5;
$color-grey: #999999;

$mob-s: 320px;
$mob-l: 720px;
$tablet-l: 1024px;
$notebook: 1280px;

// @media screen and (max-width: $notebook) {}
// @media screen and (max-width: $tablet-l) {}
// @media screen and (max-width: $mob-l) {}