@import "_css_reset.css";
@import "_variable.scss";
@import "_header.scss";
@import "_slider.css";
@import "_shop_by_category.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

main article:not(.swiper) {
  // border: 1px solid red;
  margin-top: 100px;
  header h1 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
  }
  section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @media screen and (max-width: $mob-l) {
      flex-direction: column;
    }
    figure {
      // border: 1px solid red;
    }
  }
}